.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  height: 44px;
  width: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  border-radius: 50%;
  color: $icons-color;

  transition: background-color getTransition('time-transit') getTransition('distribution-function');
}

.social__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color getTransition('time-transit') getTransition('distribution-function');
}

.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  background-color: $color-accent;
  color: #ffffff;
}
