$header-logo-color: #000000;
$color-accent: #2196f3;
$first-title-color: #ffffff;
$second-title-color: #212121;
$main-text-color: #757575;
$header-list-color: #212121;
$tex-address-color: rgba(255, 255, 255, 0.6);
$btn-text-color: #ffffff;
$footer-logo-color: #ffffff;
$filter-btn-color: #212121;
$filter-btn-bgr: #f5f4fa;
$icons-color: #afb1b8;
$time-transit: 250ms;
$distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
